<template>
  <div class="messaging">
    <div class="heading">
      <div class="title">
        <a class="btn-back" href="#collapseMessaging">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
      </div>
      <div class="action">{{semesterName}} {{(subjectName != null) ? '/ '+subjectName : ''}}</div>
      <span class="heading-btn" v-if="displayButtons">
        <input type="button" class="btn btn-sm btn-default" value="Attendance Status" @click.prevent="attendanceComponents('attendancestatus')">
        <input type="button" class="btn btn-sm btn-default" value="Tests" @click.prevent="attendanceComponents('testshow')">
      </span>
    </div>

      <div class="col-md-12">
        <student-subject-list v-if="subjectList"></student-subject-list>
        <student-attendance-status :batch-id="batchId" :subject-id="subjectId" v-if="attendanceStatus"></student-attendance-status>
        <student-test-show :batch-id="batchId" :semester-id="semesterId" :subject-id="subjectId" v-if="testShow"></student-test-show>
      </div>
  </div>
</template>


<script>

    import moment from 'moment';

    export default {
      data() {
        return {
          subjectList:true,
          attendanceStatus:false,
          testShow: false,
          displayButtons:false,
          subjectName:null,
          semesterId:null,
          semesterName: null,
          batchId: null,
          subjectId: null,
          }
      },
      methods: {
        attendanceComponents(type) {
          var vm = this;
          if(type === 'attendancestatus') {
            vm.attendanceStatus = true;
            vm.testShow = false;
          } else if (type === 'testshow') {
            vm.attendanceStatus = false;
            vm.testShow = true;
          }
        },
        displayAttendanceButtons() {
          var vm = this;
          vm.displayButtons = true;
        }
      },
      mounted() {
        var vm = this;
        //passing semesterId to components


        //getting semesterId
        Event.$on('SemesterIdEvent', function([semesterId, semesterName]){
          vm.semesterName = semesterName;
          vm.semesterId = semesterId;
          vm.subjectName = null;
          vm.newAttendance = false;
          vm.lastAttendance = false;
          vm.attendanceStatus = false;
          vm.testShow = false;
          vm.displayButtons = false;
          vm.subjectList = true;
        });
        Event.$on('SubjectName', function([subjectName,subjectId,batchId]){
          vm.subjectName = subjectName;
          vm.subjectList = false;
          vm.newAttendance = true;
          vm.subjectId = subjectId;
          vm.batchId = batchId;
          vm.attendanceStatus = true;
          vm.testShow = false;

          vm.displayAttendanceButtons();
        });

      }
    }
</script>

<style>
.messaging {
  max-height: 585px;
  min-height: 585px;
  overflow: auto;
}

.app-messaging .messaging ul.chat {
  margin-top: 20px;
}

.app-messaging .messaging > .heading {
  padding:20px;
  margin-bottom: 20px;
}
.heading-btn {
  margin-left: 35%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.card.card-banner .card-body .content {
  padding: 10px;
}

.free-space {
  position: relative;
  float: left;
  margin-top: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.free-space h2 {
  color:lightgrey;
}

.main-content {
  padding: 12px;
}

.card.card-green-light:hover {
  background-color: white;
 }

 .card.card-green-light:active {
   background-color: green;
  }

.card.card-green-light:hover .card-body .icon {
  color:#29c75f;
  background-color: #f4fcf7;
 }

.card.card-green-light:hover .card-body .content .title, .card.card-green-light:hover .card-body .content .value {
  color: #29c75f;
 }
 .card.card-green-light:active .card-body .content .title, .card.card-green-light:active .card-body .content .value
 , .card.card-green-light:active .card-body .content .subject-title  {
   color: white;
  }

.card.card-banner .card-body .content {
  display: block;
}

.card.card-banner .card-body .content .value {
  font-size: 2.5em;
  padding-top: 2px;
  padding-right: 10px;
}

.subject-title {
  margin-left: 105px;
  font-size: 2em;
  line-height: 3rem;
  font-weight: 200;
  color: #29c75f;
}
.top-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
</style>
