<template>
  <div class="chat-group">
    <div class="heading">Converstion</div>
    <ul class="group full-height">
      <li class="section">unread</li>
      <li class="message" v-for="conversation in conversations">
        <a href="#" @click.prevent="singleMessageEvent(conversation.messaging_id, conversation.user_id, conversation.name)">
          <div class="message">
            <img class="profile" src="https://placehold.it/100x100">
            <div class="content">
              <div class="title">{{conversation.name}}</div>
              <div class="description">{{conversation.updated_at}}</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</template>


<script>

    import moment from 'moment';

    export default {
        data() {
          return {
            conversations: [],
            messagingId: null,
            userTwo: null,
            }
        },
        methods: {
          conversationList() {
            var vm = this;
            axios.get('/student/messages/conversation-list')
            .then(function (response) {
              vm.conversations = response.data
            }).catch(function (error) {
              console.log(error)
            });
          },

          singleMessageEvent(messagingId, userTwo, name)
          {
            Event.$emit('singleMessageEvent', [messagingId, userTwo, name]);
          },

          postedOn(conversation) {
            return moment(conversation.updated_at).fromNow();
          },
        },
        mounted() {
          var vm = this;
            vm.conversationList();

            Event.$on('getUserFromSearch', function () {
              vm.conversationList();
            });
        }
    }
</script>

<style>
.chat-group {
max-height: 585px;
min-height: 585px;
overflow: auto;
}
</style>
