<template>
  <div class="chat-group">
    <div class="heading">Semesters</div>
    <ul class="group full-height">
      <li class="section">Total Semesters: <strong>{{semesters.length}}</strong></li>
      <li class="message" v-for="semester in semesters">
        <a href="#" @click.prevent="passSemesterIdToComponents(semester.semester_id, semester.semester_name)">
          <div class="message">
            <img class="profile" src="https://placehold.it/100x100">
            <div class="content">
              <div class="title">{{semester.semester_name}} <span class="description-text">({{semester.batch_name}})</span></div>
              <div class="description"><span>Students:<strong> {{semester.total_student}}</strong></span><span class="space"> Subjects: <strong>{{semester.total_subjects}}</strong></span></div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</template>


<script>

    export default {
        data() {
          return {
            semesters: [],
            }
        },
        methods: {

          passSemesterIdToComponents(semesterId, semesterName) {
            Event.$emit('SemesterIdEvent', [semesterId, semesterName]);
          },
          semesterList() {
            var vm = this;
            axios.post('/student/'+vm.$root.user.id+'/semesters')
            .then(function (response) {
              vm.semesters = response.data
            }).catch(function (error) {
              console.log(error)
            });
          },

          singleMessageEvent(messagingId, userTwo, name)
          {
            Event.$emit('singleMessageEvent', [messagingId, userTwo, name]);
          },

          postedOn(conversation) {
            return moment(conversation.updated_at).fromNow();
          },
        },
        mounted() {
          var vm = this;
            vm.semesterList();

            Event.$on('getUserFromSearch', function () {
              vm.conversationList();
            });
        }
    }
</script>

<style>
  .chat-group {
  max-height: 585px;
  min-height: 585px;
  overflow: auto;
  }
  .description-text {
    font-size: 12px;
    color: grey;
  }
  .space {
    padding-left: 3px;
  }
</style>
