<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
            <div class="card-body no-padding">
              <div class="table-responsive">
              <table class="table card-table">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="tests in testList" @click.prevent="getTestDetail(tests.id)">
                    <td>{{tests.test_type}}</td>
                    <td>{{tests.total_marks}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
            <div class="card-body no-padding">
              <div class="table-responsive">
              <table class="table card-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>College ID</th>
                    <th>Total</th>
                    <th>Obtained</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="detail in testDetails">
                    <td>{{detail.name}}</td>
                    <td>{{detail.college_id}}</td>
                    <td>{{detail.total_marks}}</td>
                    <td>{{detail.obtained_marks}}</td>
                    <td v-if="detail.obtained_marks >= detail.passing_marks">Passed</td>
                    <td v-else>Failed</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
      data() {
        return {
          students: [],
          testList: [],
          testDetails: [],
          checked: true,
          }
      },
      props: {
        batchId:null,
        semesterId:null,
        subjectId:null,
        disable:false,
      },
      methods: {
        getTestDetail(testId) {
          var vm = this;
          axios.post('/student/test-detail', {
            test_id: testId,
          })
          .then(function (response) {
            vm.testDetails = response.data
          }).catch(function (error) {
            console.log(error)
          });
        },
        getTestList() {
          var vm = this;
          axios.post('/student/test-list', {
            batch_id: vm.batchId,
            semester_id: vm.semesterId,
            subject_id:vm.subjectId,
          })
          .then(function (response) {
            vm.testList = response.data
          }).catch(function (error) {
            console.log(error)
          });
        }

      },
      mounted() {
        var vm = this;
        vm.getTestList();
      }
    }
</script>

<style>
input[type=checkbox] {
    width: 18px;
    height: 18px;
    -moz-appearance: none;
}

.status {
  color: grey;
  padding-left: 5px;
}
</style>
