aside.app-sidebar {
  position: fixed;
  overflow: hidden;
}

.card.card-tab .card-header {
  overflow: hidden;
}

body .app-container .app-heading .profile-img {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.navbar .navbar-collapse .navbar-nav > li.dropdown.profile > a .profile-img {
  object-fit: cover;
  width: 60px;
  height: 60px;
}

img.feed-image {
  object-fit: cover;
  width: 100%;
  height: 380px;
}

.my-row{
  margin-bottom: 14px;
}

.media .media-left a img {
  object-fit: cover;
  width: 45px;
  height: 45px;
}

.app-messaging .messaging ul.chat > li .message-color {
  background: #d4f4df;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}
