<template>
  <div>
    <br>
  <center>
  <select class="form-control thead-class-list" v-model="user_id" @change="subjectList()">
    <option value="">Select Teacher</option>
    <option v-for="option in options" v-bind:value="option.id" >{{option.name}}</option>
  </select>
</center>
  <div class="content custom-content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead class="">
        <tr>
          <td>Subject</td>
          <td>Action</td>
          <td>Teacher</td>
        </tr>
      </thead>
    <tbody v-if="user_id != null">
        <tr v-for="subject in subjects">
        	<td>
            {{subject.display_name}}
        	</td>
          <td v-if="subject.user_id == null" @click.prevent="assignSubject(subject.slug)"><a href="#">Assign</a></td>
          <td v-if="subject.user_id === user_id"  @click.prevent="unAssignSubject(subject.user_id, subject.slug)"><a href="#">Un Assign</a></td>
          <td v-else-if="subject.user">Assigned</td>
          <td v-if="subject.user">{{subject.user.name}}</td>
          <td v-else>Null</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</template>


<script>
    export default {
        data() {
          return {

              teacherRegistered: false,
              selected: '1',
              options: [],
              subjects: [],
              user_id: null
            }
        },
        methods: {
          unAssignSubject(userId, slug) {
            var vm = this;
            axios.put('/admin/unassign-subject/' + slug, {
              user_id: userId
            }).then(function (response) {
              //vm.subjectList();
              //vm.options = response.data
              vm.subjectList();
              console.log(response);
              Event.$emit('unAssigned');
            }).catch(function (error) {
              alert(response.data);
              console.log(error)
            });
          },
          assignSubject(slug) {
            var vm = this;
            axios.put('/admin/assign-subject/' + slug, {
              user_id: vm.user_id
            }).then(function (response) {
              vm.subjectList();
              console.log(response);
              Event.$emit('assigned');
            }).catch(function (error) {
              alert(response.data);
              console.log(error)
            });
          },

          teacherList() {
            var vm = this;
              axios.get('/admin/teacher-list').then(function (response) {

                vm.options = response.data
                console.log(response);
              }).catch(function (error) {
                console.log(error)
              });
          },

          subjectList() {
            var vm = this;
            return axios.get('/admin/subject-list').then(function (response) {

              vm.subjects = response.data
              console.log(response);
            }).catch(function (error) {
              console.log(error)
            });
          }
        },
        mounted() {
            var vm = this;
            vm.teacherList();
            vm.subjectList();
        }
    }
</script>

<style>
select.thead-class-list {
  max-width:80%;
}
.custom-content {
  max-height: 430px;
  overflow: auto;
}


</style>
