<template>
  <div>
    <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-body no-padding">
              <div class="table-responsive">
              <table class="table card-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>College ID</th>
                    <th>Total Lectures</th>
                    <th>Attended</th>
                    <th>Percentage</th>
                    <th>Ratting</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="student in students">
                    <td>{{student.name}}</td>
                    <td>{{student.college_id}}</td>
                    <td>{{student.total}}</td>
                    <td>{{student.obtained}}</td>
                    <td>{{student.percentage}}%</td>
                    <td>5.0 / {{student.rating}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>


    export default {
      data() {
        return {
          students: [],
          }
      },
      props: {
        batchId:null,
        semesterId:null,
        subjectId:null,
        disable:false,
      },
      methods: {
        getStudentForAttendance() {
          var vm = this;
          axios.post('/teacher/attendance-status', {
            batch_id: vm.batchId,
            subject_id:vm.subjectId,
          })
          .then(function (response) {
            vm.students = response.data
          }).catch(function (error) {
            console.log(error)
          });
        }

      },
      mounted() {
        var vm = this;
        vm.getStudentForAttendance();
      }
    }
</script>

<style>
input[type=checkbox] {
    width: 18px;
    height: 18px;
    -moz-appearance: none;
}

.status {
  color: grey;
  padding-left: 5px;
}
</style>
