<template>
  <div class="messaging">
    <div class="heading">
      <div class="title">
        <a class="btn-back" href="#collapseMessaging">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        {{name}} <span class="badge badge-success badge-icon"><i class="fa fa-circle" aria-hidden="true"></i><span>Online</span></span>
      </div>
      <div class="action"></div>
    </div>


    <ul  class="chat">
      <div v-if="messagingId == null"  class="free-space">
        <h2>Choose Person from side</h2>
      </div>
      <li v-else v-for="reply in replies" v-bind:class="$root.user.id != reply.user_id ? 'right' : ''" >

        <div class="message" v-bind:class="$root.user.id != reply.user_id ? 'message-color' : ''">{{reply.reply}}</div>
        <div class="info">
          <div class="datetime">{{reply.created_at}}</div>
        </div>
      </li>
    </ul>
    <div class="footer">
      <div class="message-box">
        <textarea placeholder="type something..." v-model="reply" :disabled="messagingId == null ? true : false" @keyup.enter="createReply($root.user.id)" class="form-control"></textarea>
        <button :disabled="messagingId == null ? true : false" class="btn btn-default" @click.prevent="createReply($root.user.id)"><i class="fa fa-paper-plane" aria-hidden="true"></i><span>Send</span></button>
      </div>
    </div>
  </div>
</template>


<script>

    import moment from 'moment';

    export default {
      data() {
        return {
          replies: [],
          userTwo:null,
          messagingId:null,
          name:null,
          reply:null,
          image:null,
          }
      },
      methods: {
        conversationReply() {
          var vm = this;
          axios.get('/teacher/messages/' + vm.messagingId + '/conversation-reply')
          .then(function (response) {
            vm.replies = response.data
          }).catch(function (error) {
            console.log(error)
          });
        },

        createReply(userOne) {
          var vm = this;

          axios.post('/teacher/messages/conversation-store', {
            user_one: userOne,
            user_two: vm.userTwo,
            reply: vm.reply,
            image_filename: vm.image
          })
          .then(function (response) {
            vm.reply = '';
            vm.conversationReply();
          }).catch(function (error) {
            console.log(error)
          });
        },

        postedOn(conversation) {
          return moment(conversation.updated_at).fromNow();
        },
      },
      mounted() {
        var vm = this;
          //vm.conversationReply();
          Event.$on('singleMessageEvent', function ([messagingId,userTwo,name] ) {
            vm.messagingId = messagingId;
            vm.userTwo = userTwo;
            vm.name = name;
            vm.conversationReply();
          });

          Event.$on('getUserFromSearch', function () {
            //
          });

      }
    }
</script>

<style>
.messaging {
  max-height: 585px;
  min-height: 585px;
  overflow: auto;
}

.app-messaging .messaging ul.chat {
  margin-top: 20px;
}

.app-messaging .messaging > .heading {
  padding:20px;
}

.free-space {
  position: relative;
  float: left;
  margin-top: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.free-space h2 {
  color:lightgrey;
}
</style>
