<template>
  <div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="card">
            <div class="card-body no-padding">
              <div class="table-responsive">
              <table class="table card-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>College ID</th>
                    <th><input type="submit" class="btn btn-xs btn-success" value="Update" @click.prevent="(update ? update = false : update = true)"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="student in students">
                    <td>{{student.name}}</td>
                    <td>{{student.college_id}}</td>
                    <td v-if="update" @click.prevent="updateAttendance(student.user_id, student.attendance_id, student.status, student.attendance_detail_id)">
                      <a href="#" class="update-action">{{student.status}}</a>
                    </td>
                    <td v-else>{{student.status}}</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <span class="status">{{status}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
      data() {
        return {
          students: [],
          studentChecks: [],
          checked: true,
          status: null,
          update: false,
          }
      },
      props: {
        batchId:null,
        semesterId:null,
        subjectId:null,
        disable:false,
      },
      methods: {
        updateAttendance(userId, attendanceId, statuses, attendanceDetailId) {
          var vm = this;
          vm.status = 'Updating Attendance';
          axios.post('/teacher/update-last-attendance', {
            user_id: userId,
            attendance_id: attendanceId,
            status: (statuses == 'absent') ? 'present' : 'absent',
            attendance_detail_id: attendanceDetailId
          })
          .then(function (response) {

            vm.getLastAttendance();
            vm.status = 'Attendance Updated';

          }).catch(function (error) {
            vm.status = 'Error Accured while updating attendance. Try again later';
            console.log(error)
          });
        },
        getLastAttendance() {
          var vm = this;
          axios.post('/teacher/last-attendance', {
            subject_id: vm.subjectId
          })
          .then(function (response) {
            vm.students = response.data
          }).catch(function (error) {
            console.log(error)
          });
        }

      },
      mounted() {
        var vm = this;
        vm.getLastAttendance();
      }
    }
</script>

<style>
.update-action {
  font-weight: 700;
}
input[type=checkbox] {
    width: 18px;
    height: 18px;
    -moz-appearance: none;
}

.status {
  color: grey;
  padding-left: 5px;
}
</style>
