<template>
  <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-8">
              <h4 class="title">Add Semester/Batch</h4>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-default" name="button" @click.prevent="hideShow('add')">Create</button>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-default" name="button" v-model="addNewBatchDiv"  @click.prevent="hideShow('assign')">Update</button>
            </div>
          </div>
        </div>
        <br>
          <center>
            <span class="has-error" v-if="hasError==true" style="text-align:right; color:red">{{errorMessage}}</span>
          </center>
      </div>
      <hr>
      <div class="col-md-12">
        <div  v-if="addNewBatchDiv == true" id="add-new-batch-div">
          <div class="col-md-6">
            <div class="form-group" v-bind:class="hasError == true ? 'has-error' : ''">
              <select class="form-control" v-model="semesterSlug">
                <option v-for="freeSem in freeSemesterList" v-bind:value="freeSem.slug">{{freeSem.display_name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" v-bind:class="hasError == true ? 'has-error' : ''">
              <input type="text" v-model="batchName" class="form-control" placeholder="Batch name (Batch 13)">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <button type="button" name="Add" class="btn btn-info btn-fill" @click.prevent="createBatch()">Create</button>
            </div>
          </div>
        </div>
        <div  v-if="assignBatchDiv == true" id="assign-batch-div">
          <div class="col-md-6">
            <div class="form-group" v-bind:class="hasError == true ? 'has-error' : ''">
              <select class="form-control" v-model="semesterSlug">
                <option v-for="freeSem in freeSemesterList" v-bind:value="freeSem.slug">{{freeSem.display_name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" v-bind:class="hasError == true ? 'has-error' : ''">
              <select class="form-control" v-model="batchId">
                <option v-for="freeBat in freeBatchList" v-bind:value="freeBat.id">{{freeBat.display_name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <button type="button" class="btn btn-info btn-fill" @click.prevent="assignBatchtoSemester()">Update</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <assign-subject></assign-subject> -->
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead class="">
            <tr>
              <td>Semester</td>
              <td>Batch</td>
              <td>Students</td>
              <td>Action</td>
            </tr>
          </thead>
        <tbody>
            <tr v-for="batch in semesterDetailList">
              <td v-for="semestername in batch.semesters">{{semestername.display_name}}</td>
              <td v-if="batch.id == null">Null</td>
              <td v-else>{{batch.display_name}}</td>
              <td>{{batch.users.length}}</td>
              <td v-for="semesterid in batch.semesters" v-if="semesterid.slug =='semester-eight'"> <a href="#" @click.prevent="batchLeave(batch.id, semesterid.slug)">Leave</a></td>
              <td v-else><a href="#" @click.prevent="batchComplete(batch.id)">Complete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</template>

<script>
    export default {
        data() {
          return {

              teacherRegistered: false,
              semesterSlug: null,
              batchName: null,
              hasError: false,
              errorMessage: null,
              addNewBatchDiv: true,
              assignBatchDiv: false,
              batchId:null,

              allSemesters: [],
              semesterDetailList: [],
              freeSemesterList: [],
              freeBatchList: [],
            }
        },
        methods: {
          hideShow(type) {
            var vm = this;
            if(type == 'add') {
              vm.addNewBatchDiv = true;
              vm.assignBatchDiv = false;
            } else {
              vm.assignBatchDiv = true;
              vm.addNewBatchDiv = false;
            }
          },
          assignBatchtoSemester() {
            var vm = this;
            if(!vm.semesterSlug || !vm.batchId) {
              vm.hasError = true;
              vm.errorMessage = "Please select semester and Batch to precess";
            } else {
              vm.hasError = false;
              axios.put('/admin/assign-batch-to-semester/'+vm.semesterSlug, {
                batch_id: vm.batchId
              }).then(function (response) {
                vm.batchId = null;
                vm.semesterSlug = null;
                vm.semesterDetail();
                vm.freeSemesters();
                vm.freeBatch();
              }).catch(function (error) {
                console.log(error)
              });
            }
          },
          batchComplete(batchId) {
            var vm = this;
              axios.put('/admin/batch-complete', {
                batch_id: batchId
              }).then(function (response) {
                vm.semesterDetail();
                vm.freeSemesters();
                vm.freeBatch();
              }).catch(function (error) {
                console.log(error)
              });
          },
          batchLeave(batchId, semesterSlug) {
            var vm = this;
              axios.put('/admin/batch-leave/'+semesterSlug, {
                batch_id: batchId
              }).then(function (response) {
                vm.semesterDetail();
                vm.freeSemesters();
                vm.freeBatch();
              }).catch(function (error) {
                console.log(error)
              });
          },
          allSemesterList() {
            var vm = this;
              axios.get('/admin/semester-list').then(function (response) {

                vm.allSemesters = response.data
                console.log(response);
              }).catch(function (error) {
                console.log(error)
              });
          },
          createBatch() {
            var vm = this;
            if(!vm.semesterSlug || !vm.batchName) {
              vm.hasError = true;
              vm.errorMessage = "Please select semester, as well as enter Batch name to precess";
            } else {
              vm.hasError = false;
              axios.post('/admin/register-batch/' + vm.semesterSlug, {
                batch_name: vm.batchName
              }).then(function (response) {
                //vm.options = response.data

                vm.batchName = null;
                vm.semesterSlug = null;
                console.log(response);
                vm.allSemesterList();
                vm.semesterDetail();
                vm.freeSemesters();
              }).catch(function (error) {
                console.log(error)
              });
            }
          },
          semesterDetail() {
            var vm = this;
              axios.get('/admin/semester-detail').then(function (response) {

                vm.semesterDetailList = response.data
                console.log(response);
              }).catch(function (error) {
                console.log(error)
              });
          },
          freeSemesters() {
            var vm = this;
              axios.get('/admin/free-semester').then(function (response) {

                vm.freeSemesterList = response.data
                console.log(response);
              }).catch(function (error) {
                console.log(error)
              });
          },
          freeBatch() {
            var vm = this;
              axios.get('/admin/free-batch').then(function (response) {

                vm.freeBatchList = response.data
                console.log(response);
              }).catch(function (error) {
                console.log(error)
              });
          },
        },
        mounted() {
            var vm = this;
            vm.allSemesterList();
            vm.semesterDetail();
            vm.freeSemesters();
            vm.freeBatch();
        }
    }
</script>

<style>


</style>
