<template>
  <ul class="nav navbar-nav navbar-left">
    <li class="navbar-title">Messaging</li>
    <li class="navbar-search hidden-sm">
      <input id="search" type="text" v-model="searchData" placeholder="college-id or name" @keyup="getUserFromSearch($root.user.id)">
      <button class="btn-search"><i class="fa fa-search"></i></button>
    </li>

    <div class="messaging-user-list-items"  v-if="users.length > 0">
      <div class="user-list-item" v-for="user in users" @click.prevent="storeMessaging($root.user.id, user.id)">
        <a href="#">{{user.name}}
         <span class="light-color">
           ({{user.college_id}})
         </span></a>
       </div>
    </div>
      </ul>
</template>


<script>

    export default {
      data() {
        return {
            searchData: '',
            users: [],
          }
      },
      methods: {
        storeMessaging(userOne, userTwo) {
          var vm = this;
          axios.post('/teacher/messages/store-messaging', {
            user_one: userOne,
            user_two: userTwo
          })
          .then(function (response) {
            vm.users = '';

            Event.$emit('getUserFromSearch');
          }).catch(function (error) {
            console.log(error)
          });
        },
        conversationReply() {
          var vm = this;
          axios.get('/teacher/messages/' + vm.messagingId + '/conversation-reply')
          .then(function (response) {
            vm.replies = response.data
          }).catch(function (error) {
            console.log(error)
          });
        },
        getUserFromSearch(selfId)
        {
          var vm = this;
          if (vm.searchData.length > 0) {
            axios.post('/teacher/messages/get-user/' + vm.searchData,{
              self: selfId
            })
            .then(function (response) {
              vm.users = response.data
            }).catch(function (error) {
              console.log(error)
            });
          } else {
            vm.users = '';
          }


          //Event.$emit('getUserFromSearch', [messagingId, userTwo, name]);
        }

      },
      mounted() {
        var vm = this;


      }
    }
</script>

<style>
.messaging {
  max-height: 585px;
  min-height: 585px;
  overflow: auto;
}

.app-messaging .messaging > .heading {
  padding:20px;
}


.messaging-search {
  position: absolute;
  top: 65px;
  left: 254px;
  width: 193px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px #c8d1d3;
}

.messaging-search li{

}

.messaging-search > .list-group-item {
  margin-bottom: -1px;
}

.navbar .navbar-collapse .navbar-nav  ._search-bar > li.navbar-search input {
  border: none;
  height: 40px;
  padding: 0 20px;
  font-weight: 200;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #dfe6e8;
  border-right: none;
  background-color: transparent;
}

.messaging-user-list-items {
  position: absolute;
  max-height: 300px;
  top: 64px;
  left: 235.175px;
  width: 193.4px;
  box-shadow: 0 1px 1px #dfe6e8;
  background-color: #FFF;
  padding: 0;
  z-index: 100011 !important;
  transform: translate(20px, 0);
}

.user-list-item {
  border-bottom: 1px solid #e7edee;
  padding:0;
}

.user-list-item a {
  display: block;
  padding: 15px;
  color:black;
}

.user-list-item:hover a {
  background-color: #29c75f;
  color: #FFF;
  cursor: pointer;
}

span.light-color {
  color: lightgrey;
}

.autocomplete-suggestions {
  display: none;
}

</style>
