<template>
  <div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="card">
            <div class="card-body no-padding">
              <div class="table-responsive">
              <table class="table card-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>College ID</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="student in students">
                    <td>{{student.name}}</td>
                    <td>{{student.college_id}}</td>
                    <td><input type="checkbox" :checked="checked" :value="student.id" v-model="studentChecks"></td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <input type="submit" class="btn btn-sm btn-success" :disabled="(disable ? true : false)" value="Submit" @click.prevent="addNewAttendance()">
                      <span class="status">{{status}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
      data() {
        return {
          students: [],
          studentChecks: [],
          checked: true,
          status: null,
          }
      },
      props: {
        batchId:null,
        semesterId:null,
        subjectId:null,
        disable:false,
      },
      methods: {
        addNewAttendance() {
          var vm = this;
          vm.disable = true;
          vm.status = 'Saving Attendance';
          axios.post('/teacher/add-new-attendance', {
            user_id: vm.$root.user.id,
            batch_id: vm.batchId,
            semester_id: vm.semesterId,
            subject_id:vm.subjectId,
            student_ids: vm.studentChecks
          })
          .then(function (response) {
            vm.status = 'Attendance Saved';

          }).catch(function (error) {
            vm.status = 'Error Accured while saving attendance. Try again later';
            console.log(error)
          });
        },
        getStudentForAttendance() {
          var vm = this;
          axios.post('/teacher/students-for-attendance', {
            batch_id: vm.batchId
          })
          .then(function (response) {
            vm.students = response.data
          }).catch(function (error) {
            console.log(error)
          });
        }

      },
      mounted() {
        var vm = this;
        vm.getStudentForAttendance();
      }
    }
</script>

<style>
input[type=checkbox] {
    width: 18px;
    height: 18px;
    -moz-appearance: none;
}

.status {
  color: grey;
  padding-left: 5px;
}
</style>
