<template>
  <div class="">
    <div class="row my-row" v-for="(feed, index) in feeds" feedId="feed.id">
      <div class="col-md-12">
        <div class="card card-mini">
          <div class="card-body">
          <div class="img-div">
            <img v-if="!feed.image_filename == ''" v-bind:src="'../../uploads/'+feed.image_filename" alt="" class="img-responsive feed-image">
          </div>
            <div class="media social-post">
              <div class="media-left">
              <div class="media-body">
                <div class="media-heading">
                  <h4 class="title btn-link" v-if="feed.user">{{feed.user.name}}</h4>
                  <h5 class="timeing">{{ postedOn(feed) }}</h5>
                </div>
                  <div class="media-content">{{feed.description}}.</div>
                <div class="media-action">
                  <button class="btn btn-link" @click.prevent="showHideComments(index)" :itemIndex="index"><i class="fa fa-comments-o"></i> {{feed.comments.length}} Comments</button>
                </div>
                <div class="media-comment clearfix">
                  <input type="text" class="form-control" placeholder="comment..." @keyup.enter="createComment(feed.id, $event)">
                </div>
              </div>
            </div>
          </div>
          <div class="media" v-if="feed.comments.length > 0  && showComments == index" v-for="comment in feed.comments">
            <div class="media-left">
              <a href="#">
                <img :src="profilePicUrl+comment.user.profile_pic" />
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading  btn-link" v-if="comment.user">
                {{comment.user.name}}
              </h4>
                <h5 class="timeing">{{ postedOn(comment) }}</h5>
              <p>{{comment.body}}</p>

              <div class="reply-cancel-btns" v-if="$root.user.authenticated">
                <button class="btn btn-link" @click.prevent="toggleReplyForm(comment.id)">{{ replyFormVisible === comment.id ? 'Cancel' : 'Reply'}}</button>
              </div>
              <div class="media-comment clearfix" v-if="replyFormVisible === comment.id">
                <input type="text" class="form-control" placeholder="comment..." v-model="replyBody" @keyup.enter="createReply(comment.id, feed.id)">
              </div>


              <div class="media" v-if="comment.replies.length > 0" v-for="reply in comment.replies">
                <div class="media-left">
                  <a href="#">
                    <img :src="profilePicUrl+reply.user.profile_pic" />
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading btn-link" v-if="reply.user">{{reply.user.name}}</h4>
                  <h5 class="timeing">{{ postedOn(reply) }}</h5>
                  <p>{{reply.body}}</p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>

  </div>

  </div>
</template>


<script>

    import moment from 'moment';

    export default {
        data() {
          return {
            description: null,
            feeds: [],
            body: null,
            feedId: null,
            replyBody: null,
            replyFormVisible: null,
            itemIndex: null,
            showComments: null,
            profilePicUrl: '../../uploads/profile-pic/',
            }
        },
        props: {
          userId:null,
        },
        methods: {
          showHideComments(index) {
            var vm = this;
            if (vm.showComments === index) {
              vm.showComments = null;
              return;
            }
            vm.showComments = index;
          },
          toggleReplyForm(commentId) {
            var vm = this;
            vm.replyBody = null;

            if(vm.replyFormVisible === commentId) {
              vm.replyFormVisible = null;
              return;
            }

            vm.replyFormVisible = commentId;
          },
          createReply(commentId, feedId) {
            var vm = this;
            axios.post('/teacher/feeds/'+feedId+'/comments', {
              body: vm.replyBody,
              reply_id: commentId,
              user_id: vm.$root.user.id
            })
            .then(function (response) {
              vm.feed();
              vm.replyBody = null;
              vm.replyFormVisible = null;

            }).catch(function (error) {
              console.log(error)
            });
          },
          createComment(feedId, e) {
            var vm = this;
            var body = e.target.value;
            axios.post('/teacher/feeds/'+feedId+'/comments', {
              body: body,
              user_id: vm.$root.user.id
            })
            .then(function (response) {
              e.target.value = '';
              vm.feed();
            }).catch(function (error) {
              console.log(error)
            });
          },
          feed() {
            var vm = this;
            axios.get('/teacher/feeds/comments/'+vm.userId)
            .then(function (response) {
              vm.feeds = response.data
            }).catch(function (error) {
              console.log(error)
            });
          },

          postedOn(feed) {
            return moment(feed.created_at).fromNow();
          },
        },
        mounted() {
            var vm = this;
            vm.feed();
        }
    }
</script>

<style>
.media-body p {
  margin-bottom: 1px;
  margin-top: 3px;
}


h5.timeing {
  opacity: 0.4;
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 0.8em;
}

h4.media-heading {
  font-size: 15px;
}

.media .media-left img {
  max-width: 55px;
  max-height: 55px;
}

.reply-cancel-btns button {

  padding:0;
  margin-top: 0;
  margin-right: 10px;
  color: #8d9293;
  font-size: 0.9em;

}

.btn-link:active {
  border:0;
}

img.feed-image {
  max-height: 380px;
  align-self: center;
  text-align: center;
  margin: 0 auto;
  background: black;
}

.img-div {
  background: rgb(171, 205, 211);
}
</style>
