<template>
  <div class="messaging">
    <div class="heading">
      <div class="title">
        <a class="btn-back" href="#collapseMessaging">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
      </div>
      <div class="action">{{semesterName}} {{(subjectName != null) ? '/ '+subjectName : ''}}</div>
      <span class="heading-btn" v-if="displayButtons">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Attendance
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click.prevent="attendanceComponents('newattendance')">New Attendance</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click.prevent="attendanceComponents('lastattendance')">Last Attendance</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click.prevent="attendanceComponents('attendancestatus')">Attendance Status</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tests
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click.prevent="testComponents('testentry')">Test Entery</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click.prevent="testComponents('testshow')">Details</a></li>
          </ul>
        </div>
      </span>
    </div>

      <div class="col-md-12">
        <subject-list v-if="subjectList"></subject-list>
        <new-attendance :batch-id="batchId" :semester-id="semesterId" :subject-id="subjectId" v-if="newAttendance"></new-attendance>
        <last-attendance :batch-id="batchId" :semester-id="semesterId" :subject-id="subjectId" v-if="lastAttendance"></last-attendance>
        <attendance-status :batch-id="batchId" :semester-id="semesterId" :subject-id="subjectId" v-if="attendanceStatus"></attendance-status>
        <test-entry :batch-id="batchId" :semester-id="semesterId" :subject-id="subjectId" v-if="testEntry"></test-entry>
        <test-show :batch-id="batchId" :semester-id="semesterId" :subject-id="subjectId" v-if="testShow"></test-show>
      </div>
  </div>
</template>


<script>

    import moment from 'moment';

    export default {
      data() {
        return {
          subjectList:true,
          newAttendance:false,
          lastAttendance:false,
          attendanceStatus:false,
          displayButtons:false,
          testEntry:false,
          testShow:false,
          subjectName:null,
          semesterId:null,
          semesterName: null,
          batchId: null,
          subjectId: null,
          }
      },
      methods: {
        testComponents(type) {
          var vm = this;
          if(type === 'testentry') {
            vm.testEntry = true;
            vm.testShow = false;
            vm.newAttendance = false;
            vm.lastAttendance = false;
            vm.attendanceStatus = false;
          } else if (type === 'testshow') {
            vm.testShow = true;
            vm.testEntry = false;
            vm.newAttendance = false;
            vm.lastAttendance = false;
            vm.attendanceStatus = false;
          }
        },
        attendanceComponents(type) {
          var vm = this;
          if(type === 'newattendance') {
            vm.newAttendance = true;
            vm.lastAttendance = false;
            vm.attendanceStatus = false;
            vm.testEntry = false;
            vm.testShow = false;
          } else if (type === 'lastattendance') {
            vm.newAttendance = false;
            vm.lastAttendance = true;
            vm.attendanceStatus = false;
            vm.testEntry = false;
            vm.testShow = false;
          } else {
            vm.newAttendance = false;
            vm.lastAttendance = false;
            vm.attendanceStatus = true;
            vm.testEntry = false;
            vm.testShow = false;
          }
        },
        displayAttendanceButtons() {
          var vm = this;
          vm.displayButtons = true;
        }
      },
      mounted() {
        var vm = this;
        //passing semesterId to components


        //getting semesterId
        Event.$on('SemesterIdEvent', function([semesterId, semesterName]){
          vm.semesterName = semesterName;
          vm.subjectName = null;
          vm.newAttendance = false;
          vm.lastAttendance = false;
          vm.attendanceStatus = false;
          vm.testEntry = false;
          vm.testShow = false;
          vm.displayButtons = false;
          vm.subjectList = true;
        });
        Event.$on('SubjectName', function([subjectName,batchId,semesterId,subjectId]){
          vm.subjectName = subjectName;
          vm.subjectList = false;
          vm.newAttendance = true;
          vm.batchId = batchId;
          vm.semesterId = semesterId;
          vm.subjectId = subjectId;

          vm.displayAttendanceButtons();
        });

      }
    }
</script>

<style>
.messaging {
  max-height: 585px;
  min-height: 585px;
  overflow: auto;
}

.app-messaging .messaging ul.chat {
  margin-top: 20px;
}

.app-messaging .messaging > .heading {
  padding:20px;
  margin-bottom: 20px;
}
.heading-btn {
  margin-left: 35%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.card.card-banner .card-body .content {
  padding: 10px;
}

.free-space {
  position: relative;
  float: left;
  margin-top: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.free-space h2 {
  color:lightgrey;
}

.main-content {
  padding: 12px;
}

.card.card-green-light:hover {
  background-color: white;
 }

 .card.card-green-light:active {
   background-color: green;
  }

.card.card-green-light:hover .card-body .icon {
  color:#29c75f;
  background-color: #f4fcf7;
 }

.card.card-green-light:hover .card-body .content .title, .card.card-green-light:hover .card-body .content .value {
  color: #29c75f;
 }
 .card.card-green-light:active .card-body .content .title, .card.card-green-light:active .card-body .content .value
 , .card.card-green-light:active .card-body .content .subject-title  {
   color: white;
  }

.card.card-banner .card-body .content {
  display: block;
}

.card.card-banner .card-body .content .value {
  font-size: 2.5em;
  padding-top: 2px;
  padding-right: 10px;
}

.subject-title {
  margin-left: 109px;
  font-size: 2em;
  line-height: 3rem;
  font-weight: 200;
  color: #29c75f;
}
.top-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
</style>
