<template>
  <div>
    <div class="row" v-for="subject in subjects">
      <div class="col-md-8 col-md-offset-2 subject-card">
        <a class="card card-banner card-green-light"  @click.prevent="passSubjectNameToComponents(subject.subjects_name, subject.batches_id, subject.semesters_id, subject.subjects_id)">
          <div class="card-body">
            <i class="icon fa fa-book fa-4x"></i>
            <div class="content">
              <div class="row">
                <div class="col-md-12">
                  <div class="subject-title">{{subject.subjects_name}}</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</template>

<script>

    export default {
      data() {
        return {
          semesterId:null,
          subjects: [],
          }
      },
      methods: {
        passSubjectNameToComponents(subjectName, batchesId, semesterId, subjectId) {
          Event.$emit('SubjectName', [subjectName, batchesId, semesterId, subjectId]);
        },
        getSubjects() {
          var vm = this;
          axios.post('/teacher/subjects', {
            user_id: vm.$root.user.id,
            semester_id: vm.semesterId
          })
          .then(function (response) {
            vm.subjects = response.data
          }).catch(function (error) {
            console.log(error)
          });
        },
      },
      mounted() {
        var vm = this;
        Event.$on('SemesterIdEvent', function([semesterId, semesterName]) {
          vm.semesterId = semesterId;
          vm.getSubjects();
        });


      }
    }
</script>

<style>
.messaging {
  max-height: 585px;
  min-height: 585px;
  overflow: auto;
}

.app-messaging .messaging ul.chat {
  margin-top: 20px;
}

.app-messaging .messaging > .heading {
  padding:20px;
  margin-bottom: 20px;
}

.card.card-banner .card-body .content {
  padding: 10px;
}

.free-space {
  position: relative;
  float: left;
  margin-top: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.free-space h2 {
  color:lightgrey;
}

.main-content {
  padding: 12px;
}

.card.card-green-light:hover {
  background-color: white;
 }

 .card.card-green-light:active {
   background-color: green;
  }

.card.card-green-light:hover .card-body .icon {
  color:#29c75f;
  background-color: #f4fcf7;
 }

.card.card-green-light:hover .card-body .content .title, .card.card-green-light:hover .card-body .content .value {
  color: #29c75f;
 }
 .card.card-green-light:active .card-body .content .title, .card.card-green-light:active .card-body .content .value
 , .card.card-green-light:active .card-body .content .subject-title  {
   color: white;
  }

.card.card-banner .card-body .content {
  display: block;
}

.card.card-banner .card-body .content .value {
  padding-top: 2px;
}

.subject-title {
  margin-left: 105px;
  font-size: 1.5em;
  line-height: 3rem;
  font-weight: 200;
  padding:15px;
  color: #29c75f;
}

.subject-card {
  margin-bottom: 13px;
}
</style>
