<template>
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
              <div class="panel-heading">Change Password</div>
              <div class="panel-body">
                  <form class="form-horizontal">


                      <div class="form-group" :class="(errors.currentpassword) ? ' has-error' : ''">
                          <div for="currentpassword" class="col-md-4 control-label">Current Password</div>

                          <div class="col-md-8">
                              <input id="currentpassword" type="password" class="form-control" v-model="currentpassword"  required autofocus>

                                  <span class="help-block"  v-if="errors.currentpassword">
                                      <strong>{{ errors.currentpassword[0] }}</strong>
                                  </span>
                          </div>
                      </div>

                      <div class="form-group" :class="(errors.newpassword) ? ' has-error' : ''">
                          <div for="newpassword" class="col-md-4 control-label">New Password</div>

                          <div class="col-md-8">
                              <input id="newpassword" type="password" class="form-control" v-model="newpassword" required>

                                  <span class="help-block" v-if="errors.newpassword">
                                      <strong>{{ errors.newpassword[0] }}</strong>
                                  </span>
                          </div>
                      </div>

                      <div class="form-group" :class="(errors.newpassword_confirm) ? ' has-error' : ''">
                          <div for="newpassword_confirm" class="col-md-4 control-label">Confirm Password</div>

                          <div class="col-md-8">
                              <input id="newpassword_confirm" type="password" class="form-control" v-model="newpassword_confirmation" required>

                                  <span class="help-block" v-if="errors.newpassword_confirm">
                                      <strong>{{errors.newpassword_confirm}}</strong>
                                  </span>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-8 col-md-offset-4">
                              <button type="submit" class="btn btn-sm btn-success" @click.prevent="changePassword()">
                                  Change
                              </button> <span class="status">{{status}}</span>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

</template>

<script>

    export default {
      data() {
        return {
          errors: [],
          status: null,
          errors: {},
          currentpassword: null,
          newpassword: null,
          newpassword_confirmation: null,
          }
      },
      props: {
        batchId:null,
        semesterId:null,
        subjectId:null,

      },
      methods: {
          changePassword() {
          var vm = this;
          vm.disable = true;
          vm.status = 'Changing Password';
          axios.post('/teacher/change-password', {
            currentpassword: vm.currentpassword,
            newpassword: vm.newpassword,
            newpassword_confirmation: vm.newpassword_confirmation
          })
          .then(function (response) {
            vm.status = 'Password updated successfully.'
            vm.errors = {};
            vm.currentpassword = '';
            vm.newpassword = '';
            vm.newpassword_confirmation = '';
          }).catch(function (error) {
            //var err = '';
            vm.errors = error.response.data;
            vm.status = '';
            console.log(error.response.data);


          });
        },

      },
      mounted() {
      }
    }
</script>

<style>
input[type=checkbox] {
    width: 18px;
    height: 18px;
    -moz-appearance: none;
}

.status {
  color: grey;
  padding-left: 5px;
}
</style>
