<template>
  <div class="content custom-content teacher-list table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <tbody>
        <tr v-for="teacher in teachers">
        	<td>{{teacher.name}}</td>
        	<td>
            <select class="form-control" name="">
              <option v-for="subject in teacher.subjects">{{subject.display_name}}</option>
            </select>
        	</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
    export default {
        data() {
          return {
              teacherRegistered: false,
              selected: '1',
              options: [],
              teachers: []
            }
        },
        methods: {
          subjectList() {
            var vm = this;
            return axios.get('/admin/subject-list').then(function (response) {

              vm.options = response.data
              console.log(response);
              //alert(vm.options);
            }).catch(function (error) {
              console.log(error)
            });
          },
          teacherWithSubject() {
            var vm = this;
              axios.get('/admin/teacher-with-subject').then(function (response) {

                vm.teachers = response.data
                console.log(response);
              }).catch(function (error) {
                console.log(error)
              });
          },

          teacherList() {
            var vm = this;
              axios.get('/admin/teacher-list').then(function (response) {

                vm.teachers = response.data
                console.log(response);
              }).catch(function (error) {
                console.log(error)
              });
          }
        },
        mounted() {
            var vm = this;
            vm.teacherWithSubject();
            vm.subjectList();

            Event.$on('unAssigned', () => vm.teacherWithSubject());
            Event.$on('assigned', () => vm.teacherWithSubject());


            console.log('Component mounted.')
        }
    }
</script>

<style>
.teacher-list {
  max-height: 490px;
  min-height: 490px;
}
</style>
