<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
            <div class="card-body no-padding">
              <div class="table-responsive">
              <table class="table card-table">
                <thead>
                  <tr>
                    <th>Label</th>
                    <th>Input</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Type</td>
                    <td><div class="form-group">
                      <select class="form-control" v-model="testType">
                        <option value="mid-term">Mid-Term</option>
                        <option value="pre-uni">Pre-Uni</option>
                        <option value="monthly">Monthly</option>
                        <option value="general">General</option>
                      </select>
                    </div></td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td><input type="text" class="form-control" v-model="totalMarks"></td>
                  </tr>
                  <tr>
                    <td>Minimum</td>
                    <td><input type="text" class="form-control" v-model="minimumMarks"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
            <div class="card-body no-padding">
              <div class="table-responsive">
              <table class="table card-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>College ID</th>
                    <th>Obtained</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="student in students">
                    <td>{{student.name}}</td>
                    <td>{{student.college_id}}</td>
                    <td><input type="text"  v-model="student.marks"></td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <input type="submit" class="btn btn-sm btn-success" :disabled="(disable ? true : false)" value="Submit" @click.prevent="addMarks()">
                      <span class="status">{{status}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
      data() {
        return {
          students: [],
          obtained: [],
          studentIds: [],
          totalMarks: 0,
          minimumMarks: 0,
          testType: null,
          checked: true,
          status: null,
          }
      },
      props: {
        batchId:null,
        semesterId:null,
        subjectId:null,
        disable:false,
      },
      methods: {
        addMarks() {
          var vm = this;
          //vm.disable = true;
          vm.status = 'Saving Marks';
          //alert(vm.)
          vm.students.forEach( function (student)
          {
              if (!student.hasOwnProperty('marks')) {
              student.marks = 0;
              }
          });
          alert(vm.test_type);
          axios.post('/teacher/add-marks', {
            user_id: vm.$root.user.id,
            batch_id: vm.batchId,
            semester_id: vm.semesterId,
            subject_id:vm.subjectId,
            student_ids: vm.students,
            total_marks: vm.totalMarks,
            minimum_marks: vm.minimumMarks,
            test_type: vm.testType
          })
          .then(function (response) {
            vm.status = 'Marks Saved';

          }).catch(function (error) {
            vm.status = 'Error Accured while saving attendance. Try again later';
            console.log(error)
          });
        },
        getStudentForAttendance() {
          var vm = this;
          axios.post('/teacher/students-for-attendance', {
            batch_id: vm.batchId
          })
          .then(function (response) {
            vm.students = response.data
          }).catch(function (error) {
            console.log(error)
          });
        }

      },
      mounted() {
        var vm = this;
        vm.getStudentForAttendance();
      }
    }
</script>

<style>
input[type=checkbox] {
    width: 18px;
    height: 18px;
    -moz-appearance: none;
}

.status {
  color: grey;
  padding-left: 5px;
}
</style>
