.card-less-margin-padding {
  margin-bottom: 5px;
}

.card .card-footer.footer-less-margin-padding {
  margin: 0 20px 0px;
  padding-top: 0px;
  border-top: 1px solid #eeeeee;
}

.card .card-content.content-less-margin-padding {
  padding: 0 20px;
}



.choose_file{
    position:relative;
    display:inline-block;
    border-radius:2px;
    border:#ebebeb solid 2px;
    width:150px;
    padding: 10px 15px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 10px;
    background:lightgrey;
}
.choose_file input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
    top:0; left:0;
    opacity:0; cursor: pointer;
    _cursor: hand;
}
